<html>
<head>
  <title>MeetUpcoming</title>
</head>
<body>
  <h1>MeetUpcoming</h1>

  <p>Create an iCalendar feed for your upcoming events on <a href="http://www.meetup.com/">Meetup.com</a></p>

  <p>This product uses Meetup.com's API but is not endorsed or certified by Meetup.</p>

  <p><a href="<%= auth_url %>">Authenticate</a></p>

  <a href="https://github.com/justinlove/meetupcoming"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
</body>
</html>
